@{
    ViewData["Title"] = "Usuario Administrador";
    Layout="_LayoutTres";

    var usuario=@ViewBag.usuario;


    
}

<body style="background-color: powderblue">
<img src="~/images/la empresa 1280 x 500.jpg" alt="Visual Studio" class="img-responsive" />
</body>


