@{
    ViewData["Title"] = "Error";



    
}

<h1>Error!! El usuario no existe</h1>
<br>

<body style="background-color: whitesmoke">
<img src="~/images/10-errores-en-una-entrevista-de-trabajo.jpg" alt="Visual Studio" class="img-responsive" />
</body>


